.lmao {
  font-family: Sans Serif;
  font-size: 100px;
  text-align: center;
  color: #ece0d1;
  font-weight: bold;
  background-color: #967259;
  margin-left: 250px;
  margin-right: 250px;
}

.body {
  background-color: #ece0d1;
}

