body {
    background-color: white;
    height: 100%;
    width: 100%;
}

h1 {
    margin:2px;
    margin-top: 24px;
    margin-left: 4px;
    font-family: Helvetica;
    padding-bottom: 0px;
    line-height: .1;
    font: weight 1200px;
    font-style: oblique;
    float: left;
    position:fixed;
    mix-blend-mode:exclusion;
    color: rgb(185, 0, 0);
}


ul {
    list-style-type: none;
    padding:0%;
    margin-top:7px;
    margin-bottom:7px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    position:fixed;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    font-style: oblique;
}
.navbar a:hover {
    color: crimson;
}
.navbar a:active {
    color:cornsilk;
}

.navbar {
    float: right;
    padding: 5px;
    margin-right:150px;
    font-family: Helvetica;
    padding-bottom: 0px;
    line-height: .1;
    padding:1rem;
}

.header {
    top:0;
    z-index: 1;
    display:flexbox;
    position: relative;
}
.line {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 42px;
    height: 1px;
    background: black;
    z-index: 2; /* Increase z-index to ensure it appears above other elements */
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.clearfix {
    clear:both;
}

hr {
    display:block;
    height:0px;
    border: 1px;
    border-top:1px solid black;
    padding-top: 0px;
    line-height: 0px;
    z-index: 1;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 3 equal columns */
    gap: 0px; /* Adjust the gap between images as needed */
    padding: 10px; /* Optional padding around the grid */
    width: 40%;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image-grid img {
    display: block;
    width: 80%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images cover the grid cell */
    padding: 0px;
    margin: 5px;
    margin-inline: auto;
}

.image-grid a {
    display: block; /* Ensure images are clickable */
    width: 100%;
    height: 100%;
    padding: 0px;
}

.image-grid p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: Helvetica;
    font-style: oblique;
    color: black;
    text-align: center;
    height: 20px;
}

.image-grid-portfolio {
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr; /* Create 3 equal columns */
    grid-template-rows: repeat(3, object-fit 1px);
    gap: 0px; /* Adjust the gap between images as needed */
    padding: 0px; /* Optional padding around the grid */
    width: 60%;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
.image-grid-portfolio p {
    margin: 0;
    padding-left: 20px;
    padding-top: 50px;
    font-size: 1rem;
    font-family: Helvetica;
    font-style: oblique;
    color: black;
    text-align: left;
    height: 20px;
}
.image-grid-portfolio img {
    display: block;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images cover the grid cell */
    padding: 0px;
    margin: 20px;
    margin-inline: auto;
}

.divider {
    background-color: black;
    margin-inline: 10px;
    height: 1px;
}

.statement {
    font-family: Helvetica;
    font-style: oblique;
    font-size: 1rem;
    color: black;
    text-align:left;
    margin-top: 200px;
    margin-bottom: 100px;
    margin-inline: 100px;
    justify-content: center;
}
.statement b {
    font-style: normal;
}

.center-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: Helvetica;
    color: lightgrey;
    font-style: italic;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
        width: 70%;
    }
    .statement {
        margin-inline: 25px;
    }
    .image-grid-portfolio {
        width: fit-content;
    }
}