h1 {
    color:black;
    padding:2px;
    margin-left: 4px;
    font-family: Helvetica;
    padding-bottom: 0px;
    line-height: .1;
    font: weight 1200px;
    font-style: oblique;
    float: left;
    position:fixed;
}


ul {
    list-style-type: none;
    padding:0%;
    margin-top:7px;
    margin-bottom:7px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    position:fixed;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    font-style: oblique;
}
a:hover {
    color: crimson;
}
a:active {
    color:cornsilk;
}

.navbar {
    float: right;
    padding: 5px;
    margin-right:150px;
    font-family: Helvetica;
    padding-bottom: 0px;
    line-height: .1;
    padding:1rem;
}

.header {
    top:0;
    z-index: 1;
    display:flexbox;
    position: relative;
}
.line {
    justify-content: center;
    display: flex;
    align-items: center;
    width:100px;
    margin: 5px;
    margin-top: 10px;
    height: 1px;
    background:black;
    z-index: 1;
    position: fixed;
}

.clearfix {
    clear:both;
}

hr {
    display:block;
    height:0px;
    border: 1px;
    border-top:1px solid black;
    padding-top: 0px;
    line-height: 0px;
    z-index: 1;
}

.rectangle {
    display:flex;
    justify-content:center;
    margin-top:100px;
    margin-bottom: 100px;
    max-width:10000px;
    height:200px;
    background: linear-gradient(90deg in hsl longer hue, red 0 50%) 0/200%;
    animation: r 6s linear infinite;
    z-index: 2;
    filter: blur(50px);
    overflow: hidden;
}
@keyframes r {
    to {background-position: 100%;}
}

.construction {
    inset: 0px;
    left:10px;
    margin: auto;
    font-family: Helvetica;
}

.spacer {
    display:flex;
    justify-content:center;
    max-width:10000px;
    min-height:100px;
}
