#header {
    color: white;
    text-align: right;
    font-family: sans-serif;
    background-color: red;
    padding-right: 20px;
    position: sticky;
    top: 0;
    font-size: 20px;
    margin: auto;
}

.blogtitle {
    font-family: sans-serif;
    font-weight: 52;
    font-size: 35px;
    margin: 1px;
}

.blogdate {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 20px;
    margin: 1px;
}

.blogpost {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: #F4F3F2;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog {
    font-size: 100px;
    font-weight: 600;
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin: 20px;
    padding-left: 20px;
}